@mixin flexing($jContent: center, $height: 100%) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $jContent;
  height: $height;
}

%text {
  font-size: 22px;
  line-height: 23px;
}

.itemsList_margin {
  margin-top: 40px;
}

.emptyCart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9rem;
  font-weight: 700;
  opacity: 0.6;
}

.item {
  padding: 16px 0;
  border-bottom: 1px solid #f1f2f5;
  @extend %text;

  .item__image {
    @include flexing(center, 68px);

    img {
      width: auto;
      max-height: 100%;
    }
  }

  .item__name {
    @include flexing(flex-start);
  }

  .quantity_control {
    @include flexing;

    .quantity_control__value {
      text-align: center;
      width: 48px;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  .item__price {
    @include flexing();

    svg {
      margin-left: 4px;
    }
  }

  .item__trash {
    @include flexing();

    svg {
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }

  &:first-child {
    border-top: 1px solid #f1f2f5;;
  }
}

.totalPrice {
  @include flexing(flex-end);
  @extend %text;
  font-weight: 700;
}

.send{

}

.bottomRow_margin {
  margin-top: 16px;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .item {
    .item__image {
      height: 200px;
    }

    .item__name {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .quantity_control {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .item__price {

    }

    .item__price, .item__trash {
      padding-top: 20px;
      padding-bottom: 24px;
    }
  }

  .send{
    padding-top: 16px;
    padding-bottom: 16px;
    button{
      width: 98%;
    }
  }

  .totalPrice {
    justify-content: center;
  }
}
