.messageBox {
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-height: 450px;
  z-index: 1;
}

.messageBox_none {
  display: none;
}

@media screen and (max-width: 767px) {
  .messageBox {
    max-height: 220px;
  }
}
